@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url(footer.css);
@import url(navbar.css);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Patrick Hand', cursive;
  scroll-behavior: smooth;
}

body {
  background-image: url("../../images/Documents/oldphoto.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  display: flexbox;
  width: 100%;
  border: 10px solid #6B4F4F;
  border-radius: 5px;
}

/*documents styling*/
.wrapper {
  max-width: 1080px;
  margin: 50px auto;
  padding: 0 20px;
  position: relative;
}

.wrapper .center-line {
  position: absolute;
  height: 100%;
  width: 4px;
  background: #EED6C4;
  left: 50%;
  top: 20px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.wrapper .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .childOne {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 2%;
}

.wrapper .childTwo {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.wrapper .row section {
  background: #EED6C4;
  border-radius: 5px;
  width: calc(50% - 40px);
  padding: 20px;
  position: relative;
}

.chilOne section::before {
  right: -7px;
}

.childOne section::before {
  left: -7px;
}

.row section .icon,
.center-line .scroll-icon {
  position: absolute;
  background: #FFF3E4;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #6B4F4F;
  font-size: 17px;
  -webkit-box-shadow: 0 0 0 4px #EED6C4, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 0 4px #EED6C4, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.center-line .scroll-icon {
  bottom: 0px;
  left: 50%;
  font-size: 25px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.childOne section .icon {
  top: 15px;
  right: -60px;
}

.childTwo section .icon {
  top: 15px;
  left: -60px;
}

.row section .details,
.row section .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.row section .details .title {
  font-size: 22px;
  font-weight: 600;
}

.row section p {
  margin: 10px 0 17px 0;
}

.row section .bottom a {
  text-decoration: none;
  background: #6B4F4F;
  color: #EED6C4;
  padding: 7px 15px;
  border-radius: 5px;
  font-weight: 400;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.row section .bottom a:hover {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

/*responsive*/
@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }
  header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr auto  1.2fr 1fr;
        grid-template-columns: 1fr auto  1.2fr 1fr;
    margin-top: -2.5%;
  }
  .logo {
    color: #EED6C4;
    padding: 5px;
  }
  nav {
    position: relative;
    text-align: left;
    -webkit-transition: none;
    transition: none;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    background: none;
    top: initial;
    left: initial;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }
  nav a {
    opacity: 1;
    position: relative;
  }
  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: #EED6C4;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transition: -webkit-transform ease-in-out 250ms;
    transition: -webkit-transform ease-in-out 250ms;
    transition: transform ease-in-out 250ms;
    transition: transform ease-in-out 250ms, -webkit-transform ease-in-out 250ms;
  }
  nav a:hover::before {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@media screen and (max-width: 1760px) {
  header {
    margin-top: -3.1%;
    -ms-grid-columns: 1fr auto 1.5fr 1fr;
        grid-template-columns: 1fr auto 1.5fr 1fr;
  }
}

@media screen and (max-width: 1660px) {
  header {
    margin-top: -3.4%;
    -ms-grid-columns: 1fr auto 1.8fr 1fr;
        grid-template-columns: 1fr auto 1.8fr 1fr;
  }
}

@media screen and (max-width: 1480px) {
  header {
    margin-top: -3.8%;
    -ms-grid-columns: 1fr auto 2.4fr 1fr;
        grid-template-columns: 1fr auto 2.4fr 1fr;
  }
}

@media screen and (max-width: 1320px) {
  header {
    margin-top: -4.1%;
    -ms-grid-columns: 1fr auto 2.6fr 1fr;
        grid-template-columns: 1fr auto 2.6fr 1fr;
  }
}

@media screen and (max-width: 1250px) {
  header {
    margin-top: -4.3%;
    -ms-grid-columns: 1fr auto 3fr 1fr;
        grid-template-columns: 1fr auto 3fr 1fr;
  }
}

@media screen and (max-width: 1180px) {
  header {
    margin-top: -4.5%;
    -ms-grid-columns: 1fr auto 4fr 1fr;
        grid-template-columns: 1fr auto 4fr 1fr;
  }
}

@media screen and (max-width: 1120px) {
  header {
    margin-top: -5.1%;
    font-size: 13px;
    -ms-grid-columns: 1fr auto 4.5fr 1fr;
        grid-template-columns: 1fr auto 4.5fr 1fr;
  }
}

@media screen and (max-width: 1000px) {
  header {
    margin-top: -6%;
    font-size: 8px;
    -ms-grid-columns: 1fr auto 6.2 1fr;
        grid-template-columns: 1fr auto 6.2 1fr;
  }
  .logo {
    font-size: 25px;
  }
}

@media screen and (max-width: 897px) {
  header {
    margin-top: -6%;
    font-size: 6px;
    -ms-grid-columns: 1fr auto 7 1fr;
        grid-template-columns: 1fr auto 7 1fr;
  }
  .logo {
    font-size: 25px;
  }
}

@media screen and (max-width: 865px) {
  header {
    margin-top: -6.1%;
    font-size: 4px;
  }
  .logo {
    font-size: 25px;
  }
}

@media screen and (max-width: 830px) {
  header {
    margin-top: -6.34%;
    font-size: 2px;
  }
  .logo {
    font-size: 25px;
  }
}

@media screen and (max-width: 780px) {
  header {
    margin-top: -6.9%;
  }
}

@media screen and (max-width: 720px) {
  header {
    margin-top: -7.8%;
  }
}

@media screen and (max-width: 630px) {
  header {
    margin-top: -8.4%;
  }
}

@media screen and (max-width: 560px) {
  header {
    margin-top: -9.2%;
  }
}

@media screen and (max-width: 490px) {
  header {
    margin-top: -12%;
  }
}

@media screen and (max-width: 430px) {
  header {
    margin-top: -13%;
  }
}

@media screen and (max-width: 380px) {
  header {
    margin-top: -16%;
  }
}

@media screen and (max-width: 300px) {
  header {
    margin-top: -18%;
  }
}

@media (max-width: 790px) {
  .wrapper .center-line {
    left: 40px;
  }
  .wrapper .row {
    margin: 30px 0 3px 60px;
  }
  .wrapper .row section {
    width: 100%;
  }
  .childOne section::before {
    left: -7px;
  }
  .childOne section .icon {
    left: -60px;
  }
}

@media (max-width: 440px) {
  .wrapper .center-line,
  .row section::before,
  .row section .icon {
    display: none;
  }
  .wrapper .row {
    margin: 10px 0;
  }
}
/*# sourceMappingURL=documents.css.map */