@import url(footer.css);
@import url(navbar.css);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Patrick Hand', cursive;
}

button {
  width: 155px;
  height: 60px;
  font-size: 24px;
  background-color: #6b4f4f;
  border-color: #6b4f4f;
  border-radius: 5px;
  color: #fff3e4;
  margin-right: 15px;
}

.map {
  background-size: contain;
  background-repeat: no-repeat;
}

#map1 {
  background-image: url("../../Images/map.svg");
}

#map2 {
  background-image: url("../../Images/Asia1939.svg");
}

#map3 {
  background-image: url("../../Images/America.svg");
}

.heroic {
  background-image: url("../../Images/backgroundImage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 85vh;
}

.cloud {
  text-decoration: none;
  text-align: center;
  font-family: Roboto;
  font-size: 40px;
  font-weight: 900;
  margin-top: 6%;
  color: #fff3e4;
}

#signIn {
  position: absolute;
  margin-right: -60%;
}

.container {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 2%;
  padding-bottom: 2%;
  background-image: url("../../Images/woodWall.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-size: 100% 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.infoContainer {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #eed6c4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.infoBoxContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 2%;
}

.boxContainer {
  height: 400px;
  width: 300px;
  padding: 50px;
  background-color: #6b4f4f;
}

.compContainer {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 2%;
  padding-bottom: 2%;
  background-image: url("../../Images/woodWall.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-size: 100% 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

img {
  width: 850px;
  height: 625px;
  margin: 2%;
}

.containerChild {
  margin-bottom: 200px;
  margin-top: 200px;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #483434;
}

.compContainerChild {
  margin-bottom: 200px;
  margin-top: 200px;
  margin-left: 175px;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: #483434;
}

.mainContainer {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #fff3e4;
  background-attachment: fixed;
  background-size: cover;
}

@media screen and (max-width: 1510px) {
  #center li a {
    font-size: 20px;
    padding: 22px 21px;
    margin: auto;
  }
  #center {
    padding-left: 5%;
  }
}

@media screen and (max-width: 1550px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .compContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .containerChild {
    margin-top: 25px;
    margin-bottom: 0;
  }
  .compContainerChild {
    margin-top: 25px;
    margin-bottom: 0;
    margin-left: 0;
  }
}

@media screen and (max-width: 1337px) {
  .heroic {
    height: 78vh;
  }
  .cloud {
    padding-left: 10%;
  }
}

@media screen and (max-width: 1225px) {
  .heroic {
    height: 73vh;
  }
  .containerChild {
    padding-left: 50px;
  }
  .compContainerChild {
    padding-left: 50px;
  }
}

@media screen and (max-width: 1150px) {
  .heroic {
    height: 68vh;
  }
}

@media screen and (max-width: 1070px) {
  .heroic {
    height: 65vh;
  }
}

@media screen and (max-width: 1025px) {
  .heroic {
    height: 60vh;
  }
  .containerChild {
    padding-left: 25px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
  }
  .compContainerChild {
    padding-left: 25px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
  }
  .container {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .compContainer {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

@media screen and (max-width: 960px) {
  .heroic {
    height: 50vh;
  }
  li a {
    font-size: 16px;
  }
}

@media screen and (max-width: 920px) {
  .container {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .compContainer {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

@media screen and (max-width: 860px) {
  .container {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .compContainer {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .map {
    width: 700px;
  }
  #center li a {
    padding: 10px 17px;
  }
  .cloud {
    margin-top: 4%;
    font-size: 36px;
  }
  .heroic {
    height: 38vh;
  }
}

@media screen and (max-width: 780px) {
  #center li a {
    font-size: 17px;
    padding: 10px 15px;
    margin: auto;
  }
}

@media screen and (max-width: 710px) {
  .container {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .compContainer {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .map {
    width: 650px;
  }
  .heroic {
    height: 40vh;
  }
  .infoBoxContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .boxContainer {
    margin-bottom: 50px;
  }
  .europeButtons {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 670px) {
  #center li a {
    font-size: 16px;
    padding: 10px 9px;
    margin: auto;
  }
  #center {
    padding-left: 45px;
  }
}

@media screen and (max-width: 665px) {
  .map {
    width: 600px;
  }
  .container {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .compContainer {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

@media screen and (max-width: 635px) {
  .heroic {
    height: 35vh;
  }
  .map {
    width: 625px;
  }
}

@media screen and (max-width: 610px) {
  .map {
    width: 600px;
  }
}

@media screen and (max-width: 575px) {
  .map {
    width: 560px;
  }
}

@media screen and (max-width: 550px) {
  .heroic {
    height: 30vh;
  }
  .map {
    width: 540px;
  }
}

@media screen and (max-width: 545px) {
  .map {
    width: 450px;
  }
  .containerChild {
    font-size: 10px;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .compContainerChild {
    font-size: 10px;
  }
  .container {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .compContainer {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .cloud {
    margin-top: 1%;
    font-size: 28px;
  }
}

@media screen and (max-width: 515px) {
  .cloud {
    margin-top: 3%;
    padding-left: 17%;
    font-size: 25px;
  }
  #center li a {
    padding: 7px 9px;
  }
}

@media screen and (max-width: 470px) {
  #center li a {
    font-size: 14.5px;
    padding: 7px 7px;
    margin: auto;
  }
  #center {
    padding-left: 45px;
  }
  .heroic {
    height: 30vh;
  }
}

@media screen and (max-width: 465px) {
  .map {
    width: 350px;
  }
  .cloud {
    margin-top: 3%;
    padding-left: 28%;
    font-size: 25px;
  }
  #center li a {
    padding: 7px 9px;
  }
  #center {
    padding-left: 23%;
  }
}

@media screen and (max-width: 420px) {
  .map {
    width: 325px;
  }
  .mySlides {
    display: none;
  }
  .carousel {
    vertical-align: middle;
    width: 100%;
    height: 100%;
  }
}

/* Slideshow container */
.slideshow-container {
  max-width: 96.7%;
  position: relative;
  margin: auto;
  margin-left: -0.59%;
}

/* The dots/bullets/indicators */
.dot {
  height: 22px;
  width: 22px;
  margin: 0 2px;
  background-color: #fff3e4;
  border: #483434 solid 2px;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.dot:hover {
  background-color: #6b4f4f;
}

.active {
  background-color: #483434;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}
/*# sourceMappingURL=index.css.map */