@import url(footer.css);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Roboto;
}

.heroic {
  background-image: url("../../images/bgimg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 85vh;
}

#center li {
  float: left;
  list-style: none;
}

.cloud {
  text-decoration: none;
  text-align: center;
  font-family: Roboto;
  font-size: 40px;
  font-weight: 900;
  margin-top: 6%;
  color: #FFF3E4;
}

#center li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #FFF3E4;
  text-decoration: none;
  font-family: Roboto;
  text-align: center;
  font-size: 20px;
  font-weight: 900;
  padding: 16px 25px;
  margin: auto;
}

#center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #FFF3E4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.compContainer {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #EED6C4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

img {
  width: 850px;
  height: 625px;
  margin: 2%;
}

.map {
  width: 850px;
  height: 625px;
  margin: 2%;
  border: 5px solid #483434;
  border-radius: 50px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.containerChild {
  margin-bottom: 200px;
  margin-top: 200px;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #483434;
}

.compContainerChild {
  margin-bottom: 200px;
  margin-top: 200px;
  margin-left: 175px;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: #483434;
}

.childOne {
  width: 500px;
  margin-top: 25px;
}

.childTwo {
  width: 500px;
  margin-top: 50px;
}

.childThree {
  margin-top: 40px;
  height: 60px;
  width: 250px;
  background-color: #6B4F4F;
  color: #FFF3E4;
  border: 5px solid #483434;
  border-radius: 20px;
  display: block;
  margin-left: 23%;
}

.mainContainer {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #EED6C4;
  background-attachment: fixed;
  background-size: cover;
}

@media screen and (max-width: 1510px) {
  #center li a {
    font-size: 20px;
    padding: 22px 21px;
    margin: auto;
  }
  #center {
    padding-left: 5%;
  }
}

@media screen and (max-width: 1450px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .compContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .containerChild {
    margin-top: 25px;
    margin-bottom: 0;
  }
  .compContainerChild {
    margin-top: 25px;
    margin-bottom: 0;
    margin-left: 0;
  }
}

@media screen and (max-width: 1337px) {
  .heroic {
    height: 78vh;
  }
  .cloud {
    padding-left: 10%;
  }
}

@media screen and (max-width: 1225px) {
  .heroic {
    height: 73vh;
  }
  .containerChild {
    padding-left: 50px;
  }
  .compContainerChild {
    padding-left: 50px;
  }
}

@media screen and (max-width: 1150px) {
  .heroic {
    height: 68vh;
  }
}

@media screen and (max-width: 1070px) {
  .heroic {
    height: 65vh;
  }
}

@media screen and (max-width: 1025px) {
  .heroic {
    height: 60vh;
  }
  .containerChild {
    padding-left: 25px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
  }
  .compContainerChild {
    padding-left: 25px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
  }
  .container {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .compContainer {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

@media screen and (max-width: 960px) {
  .heroic {
    height: 50vh;
  }
  li a {
    font-size: 16px;
  }
}

@media screen and (max-width: 920px) {
  .container {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .compContainer {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

@media screen and (max-width: 860px) {
  .container {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .compContainer {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .map {
    width: 700px;
  }
  #center li a {
    padding: 10px 17px;
  }
  .cloud {
    margin-top: 4%;
    font-size: 36px;
  }
  .heroic {
    height: 38vh;
  }
}

@media screen and (max-width: 780px) {
  #center li a {
    font-size: 17px;
    padding: 10px 15px;
    margin: auto;
  }
}

@media screen and (max-width: 710px) {
  .container {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .compContainer {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .map {
    width: 650px;
  }
  .heroic {
    height: 40vh;
  }
}

@media screen and (max-width: 670px) {
  #center li a {
    font-size: 16px;
    padding: 10px 9px;
    margin: auto;
  }
  #center {
    padding-left: 45px;
  }
}

@media screen and (max-width: 665px) {
  .map {
    width: 600px;
  }
  .container {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .compContainer {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

@media screen and (max-width: 635px) {
  .heroic {
    height: 35vh;
  }
  .map {
    width: 550px;
    height: 550px;
  }
  .childOne {
    width: 500px;
  }
  .childTwo {
    width: 500px;
  }
}

@media screen and (max-width: 550px) {
  .heroic {
    height: 30vh;
  }
  .map {
    width: 500px;
    height: 500px;
  }
}

@media screen and (max-width: 545px) {
  .map {
    width: 450px;
    height: 450px;
  }
  .containerChild {
    font-size: 10px;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .compContainerChild {
    font-size: 10px;
  }
  .container {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .compContainer {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .childOne {
    width: 300px;
  }
  .childTwo {
    width: 300px;
  }
  .childThree {
    margin-left: 0;
    height: 50px;
  }
  .cloud {
    margin-top: 1%;
    font-size: 28px;
  }
}

@media screen and (max-width: 515px) {
  .cloud {
    margin-top: 3%;
    padding-left: 17%;
    font-size: 25px;
  }
  #center li a {
    padding: 7px 9px;
  }
}

@media screen and (max-width: 470px) {
  #center li a {
    font-size: 14.5px;
    padding: 7px 7px;
    margin: auto;
  }
  #center {
    padding-left: 45px;
  }
  .heroic {
    height: 30vh;
  }
}

@media screen and (max-width: 465px) {
  .map {
    width: 400px;
    height: 400px;
  }
  .cloud {
    margin-top: 3%;
    padding-left: 28%;
    font-size: 25px;
  }
  #center li a {
    padding: 7px 9px;
  }
  #center {
    padding-left: 23%;
  }
}

@media screen and (max-width: 420px) {
  .map {
    width: 350px;
    height: 350px;
  }
  .childOne {
    width: 275px;
  }
  .childTwo {
    width: 275px;
  }
}

.mySlides {
  display: none;
}

.carousel {
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

/* Slideshow container */
.slideshow-container {
  max-width: 96.7%;
  position: relative;
  margin: auto;
  margin-left: -0.59%;
}

/* The dots/bullets/indicators */
.dot {
  height: 22px;
  width: 22px;
  margin: 0 2px;
  background-color: #FFF3E4;
  border: #483434 solid 2px;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.dot:hover {
  background-color: #6B4F4F;
}

.active {
  background-color: #483434;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}
/*# sourceMappingURL=index.css.map */