$mainColor: #eed6c4;
$compMainColor: #fff3e4;
$secondaryColor: #483434;
$compSecondaryColor: #6b4f4f;

@import url(footer.css);
@import url(navbar.css);
@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Cardo', serif;
}

body {
  background-color: $compSecondaryColor;
  color: $compSecondaryColor;

  font-family: "Patrick Hand", cursive;
}

/*article styling*/
.centering {
  display: flex;
  align-items: center;
  justify-content: center;
}

article {
  margin-top: 8%;
  margin-bottom: 5%;

  width: 50%;
  height: fit-content;

  background-image: url("../../images/Article/articleBackground.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 100% 100%;
  color: #302727;
  padding: 25px;
}

h1, h3 {
  text-align: center;
}

.articleInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.imgInfo {
  max-width: 600px;
  height: 250px;

  margin: 10px;
}

.arrow-pointer-right {
  width: 250px;
  height: 51px;
  background: $secondaryColor;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    left: -2px;; 
    bottom: 0; 
    width: 0; 
    height: 0;
    border-left: 25px solid $compSecondaryColor;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    
  }

  &:before {
    content: '';
    position: absolute;
    right: -24.7px;
    bottom: -3px;
    width: 0;
    height: 0;
    border-left: 25px solid $secondaryColor;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    
    
  }
}

.arrow-pointer-left {
  width: 250px;
  height: 51px;
  background: $secondaryColor;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    left: -24.7px;; 
    bottom: -3px; 
    width: 0; 
    height: 0;
    border-left: 25px solid $secondaryColor;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    transform: rotate(180deg);
    
  }

  &:before {
    content: '';
    position: absolute;
    right: -2px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 25px solid $compSecondaryColor;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    transform: rotate(180deg);
    
  }
}

.button-container{
  margin-top: -5.5%;
  margin-bottom: 2.5%;
}

.button-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

/*responsive*/
@media screen and(max-width: 835px) {
  article {
    width: 70%;
  }
}

@media screen and (max-width: 800px) {
  .logo {
    color: $mainColor;
    padding: 5px;
  }
}

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto 1.2fr 1fr;
  }

  .logo {
    color: $mainColor;
    padding: 5px;
  }

  nav {
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1, 1);
    background: none;
    top: initial;
    left: initial;

    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  nav a::before {
    content: "";
    display: block;
    height: 5px;
    background: $mainColor;
    position: absolute;
    top: -0.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::before {
    transform: scale(1, 1);
  }
}

@media screen and(max-width: 600px) {
  article {
    width: 80%;
  }

  .button-center{
    display:flex;
    flex-direction: column;
  }

  button{
    margin: 20px;
  }
}

@media screen and(max-width: 500px) {
  article {
    width: 90%;
  }

  .imgInfo {
    width: 350px;
    height: 200px;
  }
}

@media screen and(max-width: 380px) {
  .imgInfo {
    width: 300px;
  }
}


/*show more less function style*/
.hide {
  display: none;
}

button {
  width: 100px;
  height: 40px;

  font-size: 16px;

  background-color: $compSecondaryColor;
  border-color: $compSecondaryColor;
  border-radius: 5px;

  color: $compMainColor;
  margin-right: 15px;

  margin-top: 50px;
}

@media screen and(max-width: 600px)
{
  button{
    margin-right: 0;
  }
}