$mainColor: #eed6c4;
$compMainColor: #fff3e4;
$secondaryColor: #483434;
$compSecondaryColor: #6b4f4f;

@import url(footer.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Patrick Hand', cursive;
}

header {
  background: $secondaryColor;
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
}

.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid $secondaryColor;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  width: 100%;
  background: $secondaryColor;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: $mainColor;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: $compMainColor;
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (max-width: 800px){
  .logo{
    color: $mainColor;
    padding: 5px;
  }

}

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }
  

  header {
    display: grid;
    grid-template-columns: 1fr auto  1.2fr 1fr;

  }
  
  .logo {
    color: $mainColor;
    padding: 5px;
  }
  
  nav {
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1,1);
    background: none;
    top: initial;
    left: initial;
    
    
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  nav ul {
    display: flex;
  }
  
  nav li {
    margin-left: 3em;
    margin-bottom: 0;
    
  }
  
  nav a {
    opacity: 1;
    position: relative;
  }
  
  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: $mainColor;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }
  
  nav a:hover::before {
    transform: scale(1,1);
  }
}

button{
  width: 155px;
  height: 60px;

  font-size: 24px;

  background-color: $compSecondaryColor;
  border-color: $compSecondaryColor;
  border-radius: 5px;

  color: $compMainColor;
  margin-right: 15px
}


.map{
  background-size: contain;
  background-repeat: no-repeat;
}

#map1 {
  background-image: url("../../Images/map.svg");
}

#map2 {
  background-image: url("../../Images/Asia1939.svg");
}

#map3{
  background-image: url("../../Images/America.svg");
}

.heroic {
  background-image: url("../../Images/backgroundImage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 85vh;
 
}

#signIn {
  position: absolute;
  margin-right: -60%;
}

.container {
  width: 100%;
  height: fit-content;
  padding-top: 2%;
  padding-bottom: 2%;

  background-image:url("../../Images/woodWall.png");
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-size: 100% 100%;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.infoContainer{
  width: 100%;
  height: fit-content;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: $mainColor;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.infoBoxContainer
{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  margin-bottom: 2%;
}

.boxContainer{
  height: 400px;
  width: 300px;

  padding: 50px;

  background-color: $compSecondaryColor;
}

.compContainer {
  width: 100%;
  height: fit-content;
  padding-top: 2%;
  padding-bottom: 2%;

  background-image:url("../../Images/woodWall.png");
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-size: 100% 100%;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row-reverse;
}

img {
  width: 850px;
  height: 625px;

  margin: 2%;
}

.containerChild {
  margin-bottom: 200px;
  margin-top: 200px;

  width: auto;

  display: flex;
  flex-direction: column;

  color: $secondaryColor;
}

.compContainerChild {
  margin-bottom: 200px;
  margin-top: 200px;
  margin-left: 175px;

  width: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  color: $secondaryColor;
}

.mainContainer {
  width: 100%;
  height: fit-content;
  padding-top: 2%;
  padding-bottom: 2%;

  background-color: $compMainColor;
  background-attachment: fixed;
  background-size: cover;
}

@media screen and(max-width:1510px) {
  #center li a {
    font-size: 20px;
    padding: 22px 21px;
    margin: auto;
  }

  #center {
    padding-left: 5%;
  }
}

@media screen and(max-width: 1550px) {
  .container {
    flex-direction: column;
    justify-content: center;

    height: fit-content;
  }

  .compContainer {
    flex-direction: column;
    justify-content: center;

    height: fit-content;
  }

  .containerChild {
    margin-top: 25px;
    margin-bottom: 0;
  }

  .compContainerChild {
    margin-top: 25px;
    margin-bottom: 0;
    margin-left: 0;
  }
}

@media screen and(max-width: 1337px) {
  .heroic {
    height: 78vh;
  }
}

@media screen and(max-width: 1225px) {
  .heroic {
    height: 73vh;
  }

  .containerChild {
    padding-left: 50px;
  }

  .compContainerChild {
    padding-left: 50px;
  }
}

@media screen and(max-width: 1150px) {
  .heroic {
    height: 68vh;
  }
}

@media screen and(max-width: 1070px) {
  .heroic {
    height: 65vh;
  }
}

@media screen and(max-width: 1025px) {
  .heroic {
    height: 60vh;
  }

  .containerChild {
    padding-left: 25px;
    margin-top: 0;
    margin-bottom: 0;

    font-size: 16px;
  }

  .compContainerChild {
    padding-left: 25px;
    margin-top: 0;
    margin-bottom: 0;

    font-size: 16px;
  }

  .container {
    height: fit-content;
  }

  .compContainer {
    height: fit-content;
  }
}

@media screen and(max-width: 960px) {
  .heroic {
    height: 50vh;
  }

  li a {
    font-size: 16px;
  }
}
@media screen and(max-width: 920px) {
  .container {
    height: fit-content;
  }

  .compContainer {
    height: fit-content;
  }
}

@media screen and(max-width: 860px) {
  .container {
    height: fit-content;
  }

  .compContainer {
    height: fit-content;
  }

  .map {
    width: 700px;
  }

  #center li a {
    padding: 10px 17px;
  }

  .heroic {
    height: 38vh;
  }
}

@media screen and(max-width:780px) {
  #center li a {
    font-size: 17px;
    padding: 10px 15px;
    margin: auto;
  }
}

@media screen and(max-width: 710px) {
  .container {
    height: fit-content;
  }

  .compContainer {
    height: fit-content;
  }

  .map {
    width: 650px;
  }

  .heroic {
    height: 40vh;
  }

  .infoBoxContainer{
    flex-direction: column;
  }

  .boxContainer{
    margin-bottom: 50px;
  }

  .europeButtons{
    margin-bottom: 50px;
  }
}

@media screen and(max-width:670px) {
  #center li a {
    font-size: 16px;
    padding: 10px 9px;
    margin: auto;
  }

  #center {
    padding-left: 45px;
  }
}

@media screen and(max-width: 665px) {
  .map {
    width: 600px;
  }

  .container {
    height: fit-content;
  }

  .compContainer {
    height: fit-content;
  }
}

@media screen and(max-width: 635px) {
  .heroic {
    height: 35vh;
  }

  .map {
    width: 625px;
  }
}

@media screen and(max-width: 610px) {
  .map {
    width: 600px;
  }
}

@media screen and(max-width: 575px) {
  .map {
    width: 560px;
  }
}

@media screen and(max-width: 550px) {
  .heroic {
    height: 30vh;
  }

  .map {
    width: 540px;
  }
}

@media screen and(max-width: 545px) {
  .map {
    width: 450px;
  }

  .containerChild {
    font-size: 10px;
    width: 100%;
    align-items: center;
  }

  .compContainerChild {
    font-size: 10px;
  }

  .container {
    height: fit-content;
  }

  .compContainer {
    height: fit-content;
  }

}

@media screen and(max-width: 515px) {
  #center li a {
    padding: 7px 9px;
  }
  
}

@media screen and(max-width:470px) {
  #center li a {
    font-size: 14.5px;
    padding: 7px 7px;
    margin: auto;
  }

  #center {
    padding-left: 45px;
  }
  .heroic {
    height: 30vh;
  }
}

@media screen and(max-width: 465px) {
  .map {
    width: 350px;
  }

  #center li a {
    padding: 7px 9px;
  }

  #center {
    padding-left: 23%;
  }
}

@media screen and(max-width: 420px) {
  .map {
    width: 325px;
  }

  .mySlides {
    display: none;
  }

  .carousel {
    vertical-align: middle;
    width: 100%;
    height: 100%;
  }
}

/* Slideshow container */
.slideshow-container {
  max-width: 96.7%;
  position: relative;
  margin: auto;
  margin-left: -0.59%;
}

/* The dots/bullets/indicators */
.dot {
  height: 22px;
  width: 22px;
  margin: 0 2px;
  background-color: $compMainColor;
  border: $secondaryColor solid 2px;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.dot:hover {
  background-color: $compSecondaryColor;
}
.active {
  background-color: $secondaryColor;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}
