$mainColor: #eed6c4;
$compMainColor: #fff3e4;
$secondaryColor: #483434;
$compSecondaryColor: #6b4f4f;

@import url(footer.css);
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: $compSecondaryColor;
    color: $compSecondaryColor;

    font-family: 'Patrick Hand', cursive;
}


header {
  background: $secondaryColor;
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
}

.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid $secondaryColor;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  width: 100%;
  background: $secondaryColor;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: $mainColor;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: $compMainColor;
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

.centering{
  display: flex;
  align-items: center;
  justify-content: center;
}

article{
  margin-top: 8%;
  margin-bottom: 5%;

  width: 50%;
  height: fit-content;

  background-image: url("../../images/articleBackground.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;

  padding: 25px;
}

h1, h3{
    text-align: center;
    
}

.articleInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
}

.imgInfo{
    max-width: 600px;
    height: 250px;

    margin: 10px;
}

@media screen and(max-width: 835px){
    article{
        width: 70%;
    }
}

@media screen and (max-width: 800px){
  .logo{
    color: $mainColor;
    padding: 5px;
    
  }

}

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }
  

  header {
    display: grid;
    grid-template-columns: 1fr auto  1.2fr 1fr;

  }
  
  .logo {
    color: $mainColor;
    padding:5px;
    
  }
  
  nav {
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1,1);
    background: none;
    top: initial;
    left: initial;
    
    
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  nav ul {
    display: flex;
  }
  
  nav li {
    margin-left: 3em;
    margin-bottom: 0;
    
  }
  
  nav a {
    opacity: 1;
    position: relative;
  }
  
  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: $mainColor;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }
  
  nav a:hover::before {
    transform: scale(1,1);
  }
}

@media screen and(max-width: 600px){
    article{
        width: 80%;
    }
}


@media screen and(max-width: 500px){
    article{
        width: 90%;
    }

    .imgInfo{
        width: 350px;
        height: 200px;
    }
}

@media screen and(max-width: 380px){
    .imgInfo{
        width: 300px;
    }
}